

<div class="container ">
    <div class="container text-center" >
      

    </div>
    <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
        <thead class="table-dark">
          <tr> <!--Titulos de la tabla-->
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">N°DNI</th>
            <th scope="col">Domicilio</th>
            <th scope="col">Telefono</th>
            <th scope="col">E-mail</th>
            <th scope="col">id-rol</th>
            
           
          </tr>
        </thead>
        <tbody>
         <!--Genera de manera dinámica los datos de la tabla de alumnos-->
          <tr *ngFor="let alumno of alumnos"> <!--renglon de registro-->
            <td>{{alumno.nombreUsuario}}</td>
            <td>{{alumno.apellidoUsuario}}</td>
            <td>{{alumno.dniUsuario}}</td>
            <td>{{alumno.domicilioUsuario}}</td>
            <td>{{alumno.telefonoUsuario}}</td>
            <td>{{alumno.emailUsuario}}</td>
            <td>{{alumno.idRol}}</td>
          </tr>
          
        </tbody>
      </table>
    </div>
    </div>
