

<div class="container ">
    <div class="container text-center" >
      

    </div>
    <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
        <thead class="table-dark">
          <tr> <!--Titulos de la tabla-->
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">N°DNI</th>
            <th scope="col">Domicilio</th>
            <th scope="col">Teléfono</th>
            <th scope="col">E-mail</th>
            <th scope="col">Rol</th>
           
          </tr>
        </thead>
        <tbody>
         <!--Genera de manera dinámica los datos de la tabla de alumnos-->
          <tr *ngFor="let usuario of usuarios"> <!--renglon de registro-->
            <td>{{usuario.nombreUsuario}}</td>
            <td>{{usuario.apellidoUsuario}}</td>
            <td>{{usuario.dniUsuario}}</td>
            <td>{{usuario.domicilioUsuario}}</td>
            <td>{{usuario.telefonoUsuario}}</td>
            <td>{{usuario.emailUsuario}}</td>
            <td>{{usuario.idRol}}</td>
            
          </tr>
          
        </tbody>
      </table>
    </div>
    </div>
