<section class="content">
    <div class="box-body mt-4">
        <div class="box-header ml-3 mr-3">
            <form action="" method="post">
                <div class="form-group">
                    <label for="carrera">Nombre de la carrera</label>
                    <input type="text" id="carrera" name="carrera" class="form-control" placeholder="Agregar nombre">
                </div>
                <br>
                <div class="form-group">
                    <label for="resolucion-carrera">Resolución de la carrera</label>
                    <input type="text" id="resolucion-carrera" name="resolucion-carrera" class="form-control" placeholder="Agregar resolución">
                </div>
                <br>
                <button type="submit" class="btn btn-primary" style="background-color: #951F32; color: white; border-color: #951F32;">Crear
                    Carrera</button>
            </form>

        </div>
    </div>
</section>
