<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <!--agregar logo del itsu aqui arriba-->
    <span class="brand-text font-weight-light">Administrativos</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="#" class="d-block">usuario</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column custom-barra overflow-auto" data-widget="treeview" role="menu"
        data-accordion="false" style="max-height: 500px;">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book" style="color: #951F32"></i>
            <p style="color: #951F32">Carreras</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-address-book" style="color: #951F32"></i>
            <p style="color: #951F32">Plan de Estudio</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book-open" style="color: #951F32"></i>
            <p style="color: #951F32">Materias</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink] = "['/listar-alumnos']" class="nav-link">
            <i class="nav-icon fas fa-user" style="color: #951F32"></i>
            <p style="color: #951F32">Alumnos</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-calendar" style="color: #951F32"></i>
            <p style="color: #951F32">Calendario Académico</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa-solid fa-table-list" style="color: #951F32"></i>
            <p style="color: #951F32">Actas</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-right-from-bracket nav-icon" style="color: #951F32"></i>
            <p style="color: #951F32">Cerrar sesión</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>