
<!-- /.content -->
<form class="row sm-4">
  <div class="col-md-6">
    <label for="validationDefault01" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="validationDefault01" value="Marcos" required>
  </div>
  <div class="col-md-6">
    <label for="validationDefault02" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="validationDefault02" value="Otto" required>
  </div>
  <div class="col-md-6">
    <label for="validationDefault04" class="form-label">DNI</label>
    <input type="text" class="form-control" id="validationDefault02" value="20000111" required>
  </div>
  <div class="col-md-6">
    <label for="validationDefault03" class="form-label">Domicilio</label>
    <input type="text" class="form-control" id="validationDefault03" value="Calle Siempre Viva 123" required>
  </div>
 
  <div class="col-md-6">
    <label for="validationDefault05" class="form-label">Teléfono</label>
    <input type="text" class="form-control" id="validationDefault05" value="3446-358596" required>
  </div>
  <div class="col-md-6">
    <label for="validationDefaultUsername" class="form-label">Email</label>
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend2">&#64;</span>
      <input type="text" class="form-control" id="validationDefaultUsername" value="marcosotto@gmail.com" aria-describedby="inputGroupPrepend2" required>
    </div>
  </div>
  <div>
    <br>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Cargar</button>
  </div>
</form>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->