<!-- Footer -->
<footer class="main-footer">
  <!-- Default to the left -->
  <strong>Copyright &copy; ITSU
    <a href="https://isfdyturdinarrain-ers.infd.edu.ar/sitio/" target="_blank">Instituto Superior Urdinarrain</a>.
  </strong> All rights reserved.
  <!-- Redes sociales y web -->
  <div class="float-right ">
    <a href="https://isfdyturdinarrain-ers.infd.edu.ar/sitio/" target="_blank" title="Página web de la institucion"
      class="fa-solid fa-globe fa-2x mr-2" style="color: black;">

    </a>
    <a href="https://www.facebook.com/institutosuperiorurdinarrain.itsu" class="fa-brands fa-square-facebook mr-2 fa-2x"
      style="color: black;" title="Cuenta de Facebook de la institucion"></a>
    <a href="https://www.instagram.com/itsu_parf/" class="fa-brands fa-instagram fa-2x" style="color: black;"
      title="Instagram de la institucion"></a>
  </div>

</footer>